
.content {
  padding: 2vh 2vw;
  max-width: 1000px;
  margin: auto;

  &__edit-block {
    margin-bottom: 20px;
    text-align: right;
  }

  &__list {

  }
}


.add-block {
  text-align: right;
  margin-bottom: 15px;
}

