<div class="content">
  <div class="add-block">
    <button (click)="createNotification()" title="Create new notification" class="btn">
      <i class="material-icons">add</i>
    </button>
  </div>
  <edit-form class="new" [editableNotification]="editableNotification"
             *ngIf="editableNotification"
             (onFinishEdit)="saveNewNotification($event)">
  </edit-form>

  <div class="content__list">
    <notification-item *ngFor="let item of notificationList"
                       [item]="item"
                       (onListChanged)="updateData($event)"
                       (onDelete)="deleteNotification($event)">
    </notification-item>

    <div class="notification notification_no-records" *ngIf="!notificationList.length">
      <p class="notification__text">You make cat sad....<br>There is nothing you want to be reminded about</p>
    </div>
  </div>


</div>





